<div class="login-container">
  <p-card>
    <div class="p-fluid">
      <h2 class="login-title">Login</h2>
      <div class="p-field mb-2">
          <p-iconField iconPosition="left">
              <p-inputIcon styleClass="pi pi-envelope" />
              <input type="text" pInputText placeholder="Email" [(ngModel)]="loginuser.username" />
          </p-iconField>
      </div>
      <div class="p-field mb-3">
        <p-iconField iconPosition="left">
          <p-inputIcon styleClass="pi pi-ellipsis-h" />
          <input type="password" pInputText placeholder="Password" [(ngModel)]="loginuser.password" />
      </p-iconField>
      </div>
      <div class="p-field">
        <p-button label="Login" size="small" (click)="onSubmit()" />
      </div>
    </div>
  </p-card>
</div>
